[Unit]
Description=Pududuk OCR Service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/application/pududuk/store_crawling
ExecStart=startup.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target